# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/